<a href="https://colab.research.google.com/github/vsgcap2/hello/blob/main/stks1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade gspread

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [4]:
sh=gc.create('fromPython121720')

In [5]:
worksheet = gc.open('fromPython121720').sheet1
cell_list = worksheet.range('A1:C2')

import random
for cell in cell_list:
  cell.value = random.randint(10,90)

worksheet.update_cells(cell_list)

{'spreadsheetId': '1w0mU4Iyo0pee20zeZxuptNs8xZqGZOw8OPLzEz7QSpc',
 'updatedCells': 6,
 'updatedColumns': 3,
 'updatedRange': 'Sheet1!A1:C2',
 'updatedRows': 2}

In [6]:
rows = worksheet.get_all_values()
print(rows)

[['67', '42', '39'], ['37', '54', '32']]

In [7]:
import pandas as pd
pd.DataFrame.from_records(rows)

    0   1   2
0  67  42  39
1  37  54  32